html, body {
    height: 100%;
}

body {
    margin: 0;
    display: flex;

    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
}

canvas {
    display: block;
}
  